.hero{
    display: flex;
    min-height: calc(100vh - 74px);
    overflow: hidden;
}

.hero-image{
            flex: 1;
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 5;
}

.hero-image img{
    width: 120%;
    height: 100%;
    object-fit: contain;
}

.hero-image__overlay{
    position: absolute;
    inset: 0;
    width: 100%;

    background-color: rgb(70, 10, 5);
    z-index: -1;
}

.hero-image h2{
    colo
}